{# src/AG/AgencimmoBundle/Resources/views/Immo/delete.html.twig #}
{% extends "AGAgenceimmoBundle::layout.html.twig" %}

{% block title %}
  supprimer un bien - {{ parent() }}
{% endblock %}

{% block body %}

<h3>Supprimer un bien </h3>

	<p>
		Etes-vous certain de vouloir supprimer le bien suivant : "{{ immo.denomination }}" ?
	</p>

	{# On met l'id du bien dans la route de l'action du formulaire #}
	<form action="{{ path('ag_agenceimmo_delete', {'id': immo.id}) }}" method="post">
    <a href="{{ path('ag_agenceimmo_view', {'id': immo.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la visualisation du bien
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
